* {
    box-sizing: border-box;
  }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: black;
  margin: none;
  border-radius: 10px;
  background-color: lightyellow;
}

body {
 /* background-image: url("./assets/css/images/stars-bg-image.jpg");*/
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: lightblue;
}

.search-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10px;
}

.ph-box {
  border-radius: 10px;
  font-size: 20px;
}

.main-btn {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 100px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px grey;
}

.main-btn:hover {
  background-color: black;
  color: lightgray;
  
}
.history-btns {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.search-history:hover {
  background-color: black;
  color: lightgray;
}
.search-history {
  align-items:center;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 100px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.search-history:hover {
  background-color: black;
  color: lightgray;
}

.current {
  border: normal;
  border-radius: 10px;
  /* background-color: lightgray; */
  height: 325px;
  box-shadow: 1px 1px 6px 1px black;
}

.future {
  border: normal;
  border-radius: 10px;
  /* background-color: lightgray; */
  height: 400px;
  padding: 1px;
}

.cards {
  border: normal;
  border-radius: 10px;
  width: 225px;
  height: 300px;
  box-shadow: 2px 2px 7px 2px black;
}

.wrap {
  display: flex;
  justify-content: space-evenly;
}