* {
    box-sizing: border-box;
  }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: black;
  height: 150px;
  margin: none;
  border-radius: 10px;
}

body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-image: url("./assets/css/images/weather-dashboard-bg4.jpg");
 background-size: 1920px 1000px;
 color:white;
}

.search-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 80px;
  padding: 10px;
  height: 60px;
}

.ph-box {
  border-radius: 10px;
  font-size: 20px;
}

.main-btn {
  margin-left: 40px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 100px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px grey;
}

.main-btn:hover {
  background-color: black;
  color: lightgray;
  
}

.h-buttons {
  display: flex;
}

.history-btn {
  align-items:center;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  width: 150px;
  padding: 10px;
  margin: 20px 45px 0px 45px;
  cursor: pointer;
}


.history-btn:hover {
  background-color: black;
  color: lightgray;
}

.c-box {
  display: flex;
  justify-content: space-between;
  margin-right: 130px;
  
}

.current {
  text-align: center;
  border: normal;
  border-radius: 10px;
  min-width: 600px;
  width: 600px;
  height: 350px;
  box-shadow: 1px 1px 6px 1px black;
}


.current-card {
  text-align: center;
}
.future {
  border: normal;
  border-radius: 10px;
  height: 400px;
  padding: 1px;
}

.cards {
  border: normal;
  border-radius: 10px;
  width: 225px;
  height: 300px;
  box-shadow: 2px 2px 7px 2px black;
  text-align: center;
}

.wrap {
  display: flex;
  justify-content: space-evenly;
}